<div class="concon">
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-info" role="alert">
                <strong>Rooms Available</strong>
                for the selected dates. <br>
                PLEASE SELECT YOUR QUANTITY
            </div>
            <table class="table table-striped text-left marginbottom">
                <thead>
                    <tr>
                        <th>
                            Room Type
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Per night
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="/detail/[[product.id]]">
                                <img src="[[product.image[0].image_url]]" alt="[[product.name]]" width="127" >
                            </a>
                            <a href="/detail/[[product.id]]">[[product.name]]</a>
                        <td>
                        </td>
                        <td>
                            <b>[[product.price]]</b>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped text-left marginbottom">
                <thead>
                    <tr>
                        <th>
                            ADD OPTIONS / SERVICES
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#">
                                <img src="/asset/frontend/img/cart1.png" alt>
                            </a>
                        </td>
                        <td>
                            Pick up service +$34*
                        </td>
                        <td>
                            <input type="checkbox" data-toggle="toggle" data-style="ios" data-width="100">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="box text-center">
                <h3><span class="grayspan">- Summary -</span></h3>
                <div class="col-md-1"></div>
                <div class="col-md-5 text-left">
                    <p>Check In</p>
                    <p>Check Out</p>
                    <p>Rooms</p>
                    <p>Nights</p>
                    <p>Adults</p>
                    <p>Children</p>
                    <p>Welcome Bottle</p>
                </div>
                <div class="col-md-5 text-right">
                    <p>10 April 2015</p>
                    <p>12 April 2015</p>
                    <p>1 double room</p>
                    <p>2</p>
                    <p>2</p>
                    <p>0</p>
                    <p>$30</p>
                </div>
                <div class="col-md-1"></div>

                <h5><span class="greenspan">BOOK NOW</span></h5>
                <h6><span class="greenbox">MODIFY YOUR SEARCH</span></h6>
            </div>
            <div class="box text-center">
                <img src="/asset/frontend/img/ico/telepon.png" class="animated rubberBand telepon" alt="logo"/>
                <h4><span class="pink">Book </span>By Phone</h4>
                <h3 class="cyan">+45 423 445 99</h3>
                <p>Monday to Friday 9.00am - 7.30pm</p>
            </div>
        </div>
    </div>
</div>