<div class="container margin_60">

    <div class="main_title">
        <h2>Kost <span>Favorit</span></h2>
        <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
    </div>

    <div class="row">

        <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <div class="tour_container">
                <div class="img_container">
                    <a href="single_tour.html">
                    <img src="img/tour_box_1.jpg" class="img-responsive" alt="">
                    <div class="ribbon top_rated"></div>
                    <div class="short_info">
                        <i class="icon_set_1_icon-44"></i>Historic Buildings<span class="price"><sup>$</sup>39</span>
                    </div>
                    </a>
                </div>
                <div class="tour_title">
                    <h3><strong>Arc Triomphe</strong> tour</h3>
                    <div class="rating">
                        <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
                    </div>
                    <div class="wishlist">
                        <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                    </div>
                </div>
            </div>
        </div>
            
    </div>

    <p class="text-center add_bottom_30">
        <a href="/popular/" class="btn_1 medium"><i class="icon-eye-7"></i>View all tours (144) </a>
    </p>
        
        <hr>
        
        <div class="main_title">
            <h2>Paris <span>Top</span> Hotels</h2>
            <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
        </div>
        
        <div class="row">
        
            <div class="col-md-4 col-sm-6 wow zoomIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
                    <div class="hotel_container">
                        <div class="img_container">
                            <a href="single_hotel.html">
                            <img src="img/hotel_1.jpg" width="800" height="533" class="img-responsive" alt="">
                            <div class="ribbon top_rated"></div>
                            <div id="score"><span>7.5</span>Good</div>
                            <div class="short_info hotel">
                                From/Per night<span class="price"><sup>$</sup>59</span>
                            </div>
                            </a>
                        </div>
                        <div class="hotel_title">
                            <h3><strong>Park Hyatt</strong> Hotel</h3>
                            <div class="rating">
                                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
                            </div><!-- end rating -->
                            <div class="wishlist">
                                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                            </div><!-- End wish list-->
                        </div>
                    </div><!-- End box -->
                </div><!-- End col-md-4 -->
            
            <div class="col-md-4 col-sm-6 wow zoomIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                    <div class="hotel_container">
                        <div class="img_container">
                            <a href="single_hotel.html">
                            <img src="img/hotel_2.jpg" width="800" height="533" class="img-responsive" alt="">
                            <div class="ribbon top_rated"></div>
                            <div id="score"><span>9.0</span>Superb</div>
                            <div class="short_info hotel">
                                From/Per night<span class="price"><sup>$</sup>45</span>
                            </div>
                            </a>
                        </div>
                        <div class="hotel_title">
                            <h3><strong>Mariott</strong> Hotel</h3>
                            <div class="rating">
                                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
                            </div><!-- end rating -->
                            <div class="wishlist">
                                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                            </div><!-- End wish list-->
                        </div>
                    </div><!-- End box -->
                </div><!-- End col-md-4 -->
            
            <div class="col-md-4 col-sm-6 wow zoomIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
                    <div class="hotel_container">
                        <div class="img_container">
                            <a href="single_hotel.html">
                            <img src="img/hotel_3.jpg" width="800" height="533" class="img-responsive" alt="">
                            <div class="ribbon top_rated"></div>
                            <div id="score"><span>9.5</span>Superb</div>
                            <div class="short_info hotel">
                                From/Per night<span class="price"><sup>$</sup>39</span>
                            </div>
                            </a>
                        </div>
                        <div class="hotel_title">
                            <h3><strong>Lumiere</strong> Hotel</h3>
                            <div class="rating">
                                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
                            </div><!-- end rating -->
                            <div class="wishlist">
                                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                            </div><!-- End wish list-->
                        </div>
                    </div><!-- End box -->
                </div><!-- End col-md-4 -->
            
           <div class="col-md-4 col-sm-6 wow zoomIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                    <div class="hotel_container">
                        <div class="img_container">
                            <a href="single_hotel.html">
                            <img src="img/hotel_4.jpg" width="800" height="533" class="img-responsive" alt="">
                            <div class="ribbon popular"></div>
                            <div id="score"><span>7.5</span>Good</div>
                            <div class="short_info hotel">
                                    From/Per night<span class="price"><sup>$</sup>45</span>
                            </div>
                            </a>
                        </div>
                        <div class="hotel_title">
                            <h3><strong>Novelle</strong> Hotel</h3>
                            <div class="rating">
                                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
                            </div><!-- end rating -->
                            <div class="wishlist">
                                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                            </div><!-- End wish list-->
                        </div>
                    </div><!-- End box -->
                </div><!-- End col-md-4 -->
            
            <div class="col-md-4 col-sm-6 wow zoomIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                    <div class="hotel_container">
                        <div class="img_container">
                            <a href="single_hotel.html">
                            <img src="img/hotel_5.jpg" width="800" height="533" class="img-responsive" alt="">
                            <div class="ribbon top_rated"></div>
                            <div id="score"><span>8.0</span>Good</div>
                            <div class="short_info hotel">
                                From/Per night<span class="price"><sup>$</sup>39</span>
                            </div>
                            </a>
                        </div>
                        <div class="hotel_title">
                            <h3><strong>Louvre</strong> Hotel</h3>
                            <div class="rating">
                                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
                            </div><!-- end rating -->
                            <div class="wishlist">
                                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                            </div><!-- End wish list-->
                        </div>
                    </div><!-- End box -->
                </div><!-- End col-md-4 -->
            
            <div class="col-md-4 col-sm-6 wow zoomIn animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: zoomIn;">
                    <div class="hotel_container">
                        <div class="img_container">
                            <a href="single_hotel.html">
                            <img src="img/hotel_6.jpg" width="800" height="533" class="img-responsive" alt="">
                            <div class="ribbon popular"></div>
                            <div id="score"><span>8.5</span>Superb</div>
                            <div class="short_info hotel">
                                    From/Per night<span class="price"><sup>$</sup>45</span>
                            </div>
                            </a>
                        </div>
                        <div class="hotel_title">
                            <h3><strong>Concorde</strong> Hotel</h3>
                            <div class="rating">
                                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
                            </div><!-- end rating -->
                            <div class="wishlist">
                                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                            </div><!-- End wish list-->
                        </div>
                    </div><!-- End box -->
                </div><!-- End col-md-4 -->
            
        </div><!-- End row -->
        <p class="text-center nopadding">
            <a href="all_hotels_list.html" class="btn_1 medium"><i class="icon-eye-7"></i>View all hotels (70) </a>
        </p>
    </div>