<!DOCTYPE html>
<html>
<head>
    <title>Untitled</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="asset/js/angular-facebook.js"></script>
    
</head>

<body>
    <div ng-app="myApp" ng-controller="fbCtrl">
        <button type="button" id="login" ng-click="login()" ng-show="islogin === false">login</button>
        <button type="button" id="logout" ng-click="logout()" ng-show="islogin === true">logout</button>
        <!--
        <pre>isReady: <span ng-bind="facebookIsReady"></span></pre>
        <pre>status: <span ng-bind="loginStatus"></span></pre>
        -->
        <pre>username: <span ng-bind="user.name"></span><br />id: <span ng-bind="user.id"></span></pre>
    </div>

    <script>
        angular.module('myApp', ['facebook'])
            .config(function(FacebookProvider) {
               FacebookProvider.init('255149627967693');
            })
          
            .controller('fbCtrl', function($scope, Facebook) {
                
                $scope.islogin = false;
                $scope.loginStatus = 'disconnected';
                $scope.facebookIsReady = false;
                $scope.user = null;
          
                $scope.login = function() {
                    // From now on you can use the Facebook service just as Facebook api says
                    Facebook.login(function(response) {
                        $scope.loginStatus = response.status;
                        $scope.me();
                    });
                };
          
                $scope.getLoginStatus = function() {
                    Facebook.getLoginStatus(function(response) {
                        if(response.status === 'connected') {
                            $scope.islogin = true;                    
                        } else {
                            $scope.islogin = false;
                        }
                        $scope.loginStatus = response.status;
                        $scope.me();
                    });
                };
                
                $scope.logout = function () {
                    Facebook.api({
                        method: 'Auth.revokeAuthorization'
                    }, function(response) {
                        Facebook.getLoginStatus(function(response) {
                            $scope.loginStatus = response.status;
                            $scope.islogin = false;
                            $scope.user = '';
                        });
                    });
                  };
          
                $scope.me = function() {
                    Facebook.api('/me', function(response) {
                        $scope.user = response;
                    });
                };
                
                $scope.$watch(function() {
                    // This is for convenience, to notify if Facebook is loaded and ready to go.
                    return Facebook.isReady();
                }, function(newVal) {
                    $scope.facebookIsReady = true;
                    $scope.islogin = true;
                });
                
                $scope.getLoginStatus();
            });
    </script>

</body>
</html>
